Form {
  display: flex;
  color: #E9E9E9;
}

#submit-btn {
  background-color: #369BDD;
  color: #E9E9E9;
  padding: .7em 2em;
  align-self: center;
  margin: 3em;
}

#textarea {
  background: #E9E9E9;
  border: 0;
}
