
Segment {
  /* margin: 0; */

}
.name {
  margin: 0 5em;
  font-weight: bold;
  font-size: 1.2em
}

.status {
  font-size: 0.7em;
  margin-left: .7em;
}

#day {
  margin: 0.5em auto 0.5em 5em ;
  color: #beb9b9;
  font-weight: bold;
}

#divider {
  margin: 0;
  padding: 0;
}
